.container{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.row_date{
    font-weight: 600;
    font-size: 22px;
}

.row_event{
    font-size: 18px;
    margin-top: 3px;
    color: #465fa4;
    font-weight: 600;
}

.row_additional{
    color: grey;
    margin-top: 2px;
}